* {
  padding: 0;
  margin: 0;
}

body {
  /* margin: 2em; */
}

header {
  background-color: aqua;
  height: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header h1 {
  margin-left: 2em;
}

.Selector {
  display: flex;
  flex-direction: column;
  margin: 2em;
  margin-left: 3.5em;
}

.buttonSection {
  display: flex;
  flex-direction: row;
}

.Button {
  margin: 0.3em;
}
.cardRows .Row {
  display: flex;
  flex-direction: row;
  margin: 0.3em 0;
}

.letterRow {
  width: 40.5em;
  display: flex;
  justify-content: space-around;
}

.Card img {
  width: 2.5em;
  margin: 0.3em;
}

.selected {
  outline: 2px solid black;
  outline-offset: -2px;
}

.selectedLocked {
  outline: 2px solid blue;
  outline-offset: -2px;
}

.Board {
  width: 45em;
  height: 25em;
  border: black 3px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 3.5em;
  border-radius: 2em;
}

.topRow {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bottomRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

.CenterCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 6em;
}

.CenterCards img {
  width: 50px;
  margin: 0.5em;
}

.Villian {
  display: flex;
  width: 9em;
  justify-content: center;
  align-self: center;
}

.addMoney {
  width: 6em;
}

.Player {
  width: 9rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 6em;
}

.Player img {
  width: 50px;
  margin: 0.5em;
}
